video{
    display: block;
}

button {
    background-color: #d84a38;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    width: 7.5em;
}

.saved{
    background-color: yellowgreen;
}

.saving{
    background-color: grey;
}

button:hover {
    cursor: pointer;
}